@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

.container {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
}

#welcome-heading {
    font-family: 'Julius Sans One', serif;
    font-size: 2em;
    text-align: center;
}

#welcome-heading span {
    font-size: 2.2em;
}

#welcome-text {
    font-family: 'Julius Sans One', serif;
    font-size: 1em;
    padding: 3% 15% 0 15%;
    text-align: center;
}

.carousel {
    height: 70vh;
    position: relative;
}

.row {
    margin: 0 !important;
}

.carousel-inner {
    height: 100%;
}

#services {
    padding: 3% 15% 3% 15%;
}

.service img{
    width: 40%;
    position: relative;
    margin: auto;
}

.service-text {
    padding-top: 5%;
    font-family: Lato;
    font-size: 1em;
    text-align: center;
}

.service-text>a, .service-text>a:hover {
    color: black;
}

#services-heading {
    font-family: 'Julius Sans One', serif;
    font-size: 2em;
    text-align: center;
    padding: 3% 25% 0 25%;
}
