.form-control {
    width: 220px;
    border-radius: 10px;
    border-color: dimgrey;
}
label{
    float: left;
}
form {
    border:1px solid grey;
    display: inline-block;
    padding: 15px;
    background-color: #CCCCCC;
    border-radius: 10px;
}
.form-group {
    border-radius: 5px;
    padding: 10px;
}