.single-review{
    margin-bottom: 20px;
}

.review-content{
    text-align: left;
    margin: 5px;
}

.review-info{
    text-align: right;
    border-right: 1px solid #CCC;
    margin: 5px;
}

.btn-leave-review{
    text-align: left;
    margin: 50px;
}

.single-review:nth-child(odd){
    background-color: #337ab7;
    border-radius: 10px;
}