.form-control {
    border: 1px solid #bbbbbb;
    border-radius: 0;
}

.title-page {
    font-family: 'Julius Sans One', serif;
    font-size: 2.5em;
}

.required {
    display: inline-block;
    color: #47abff;
}
