#registerHeader{
    text-align : center;
    margin:30px;
    background: darkblue;
    color: azure;
}

.form-control {
    width: 95%;
    margin: auto;
}

.required {
    display: inline-block;
    color: red;
}
